/* 4 - External */
body {
    padding-bottom: 500px;
}


h3 {
    color: green;
}

/* Algum comentário */
/* Outro comentário */

/* 8 - classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* ID */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name{
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #17ad32;
}