/* 4 - External */
body {
    padding-bottom: 500px;
}


h3 {
    color: green;
}

/* Algum comentário */
/* Outro comentário */

/* 8 - classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* ID */
#exclusive-title {
    background-color: purple;
    color: black;
    padding: 10px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #17ad32;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

.rgb {
    color: rgb(255, 0, 0)
}

.mixed-rgb {
    color: rgb(26, 130, 97);
}

.rgba {
    color: rgba(255, 0, 0, 0.5);
}

.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(20, 56%, 40%);
}

/* background */

.background {
    background-color: #000;
    color: yellow;
}

.background-2 {
    background-color: rgb(200, 20, 40);
    color: #55a398;
}

/* Background opacity */
.bg-opacity {
    background-color: #17ad32;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(255, 0, 0, 0.2);
}

/* BG image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: white;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 4000px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* largura e altura */
.width-height {
    height: 200px;
    width: 100px;
    background-color: #17ad32;
}

.width-height-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */

.without-padding,
.with-padding {
    background-color: #000;
    color: antiquewhite;
}

.with-padding{
    background-color: gray;
    padding: 20px;
}