/* 4 - External */
body {
    padding-bottom: 500px;
}


h3 {
    color: green;
}

/* Algum comentário */
/* Outro comentário */

/* 8 - classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* ID */
#exclusive-title {
    background-color: purple;
    color: black;
    padding: 10px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #17ad32;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

.rgb {
    color: rgb(255, 0, 0)
}

.mixed-rgb {
    color: rgb(26, 130, 97);
}

.rgba {
    color: rgba(255, 0, 0, 0.5);
}

.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(20, 56%, 40%);
}

/* background */

.background {
    background-color: #000;
    color: yellow;
}

.background-2 {
    background-color: rgb(200, 20, 40);
    color: #55a398;
}

/* Background opacity */
.bg-opacity {
    background-color: #17ad32;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(255, 0, 0, 0.2);
}

/* BG image */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: white;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 4000px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* largura e altura */
.width-height {
    height: 200px;
    width: 100px;
    background-color: #17ad32;
}

.width-height-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */

.without-padding,
.with-padding {
    background-color: #000;
    color: antiquewhite;
}

.with-padding{
    background-color: gray;
    padding: 20px;
}

/* Padding individual */
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.shorthand-padding{
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px;
}

/* padding e width */

.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Borda */
.border{
    border: 5px solid red;
    padding: 10px;
}

.border-2{
    border: 2px dotted #931;
    padding: 25px;
}

/* borda individual */
.border-left{
    border-left: 3px solid red;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda arredondada */
.rounded-p{
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2{
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* margin */
.margin{
    margin: 10px;
    background-color: #222;
}

.margin-top{
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand{
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

/* box model */
.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* Alinhamento de texto */
.text-aligned-right{
    text-align: right;
}

.text-aligned-center {
    text-align: center;
}

.conteiner-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* text decoration */

.underline{
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: red;
}

/* Text transform */
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* Espaçamento de letras */

.spacing{
    letter-spacing: 5px;
}

/* fontes */

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace{
    font-family: monospace;
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* estilo de fonte */
.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

/* font weight */
.thin, .bold, .bolder{
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

/* font size */
.small{
    font-size: 6px;
}

.big{
    font-size: 78px;
}

/* display */

.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #333;
    display: block;
    margin: 10px;
}

/* escondendo elementos */

.invisible{
    display: none;
}

/* static position */

.static{
    position: static;
    background-color: #391;
    color: white;
    width: 100px;
    height: 100px;
}

/* relative */

.relative{
    position: relative;
    background-color: #224;
    color: white;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* Absolute */
.absolute{
    position: absolute;
    background-color: #964;
    color: white;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;    
}

/* absolute com relative */
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;
}

.absolute-1{
    top: 10px;
    left: 10px;
}

.absolute-2{
    bottom: 10px;
    right: 10px;
}


/* position fixed */
.fixed{
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* position stick */
.sticky {
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    position: sticky;
    top: 10px;
}

/* z index */
.absolute-3,
.absolute-4,
.absolute-5 {
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute-3 {
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4 {
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}

.absolute-5 {
    top: 40px;
    left: 40px;
    background-color: #453;
    z-index: 1;
}